#external-css {
  border: 1px solid rgb(232, 234, 237);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#external-css p {
  margin: 0;
}

#external-css td,
#external-css th {
  border: 1px solid rgb(232, 234, 237);
  padding: 10px;
}

#external-css th {
  font-weight: bold;
}

#external-css table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.external-bold {
  font-weight: bold;
}
